.chat-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    height: 600px;
    background-color: #f0f0f0;
}

.chat-header {
    padding: 10px;
    background-color: #ededed;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.chat-body {
    flex-grow: 1;
    padding: 10px;
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    padding: 10px;
    background-color: #ededed;
    border-top: 1px solid #ddd;
}

.chat-input {
    flex-grow: 1;
    margin-right: 10px;
}

.message {
    margin: 5px 0;
    padding: 8px;
    width:auto;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

.sender {
    text-align: right;
}



.chat-layout {
    display: flex;
    height: 100%;
}

.conversation-list {
    width: 400px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    overflow-y: auto;
    height: 600px;
}

.conversation-item {
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.conversation-item:hover {
    background-color: #f5f5f5;
}

.active-conversation {
    background-color: #eee;
}